<div class="box">
  <div class="sobre">
    <div id="titulo" class="mb-4">Sobre Mim</div>
 <div id="sub">
      <a href="mailto:joaoluizborgesmorais@gmail.com" id="email" target="_blank">
        joaoluizborgesmorais&#64;gmail.com
      </a>
    </div>

    <div id="carouselSobre" class="carousel slide mb-4" data-bs-ride="carousel">
      <div class="carousel-inner rounded-4 overflow-hidden shadow-lg">
        <div class="carousel-item active">
          <img src="foto1.jpg" class="d-block w-100" alt="Foto 1" />
        </div>
        <div class="carousel-item">
          <img src="foto2.jpg" class="d-block w-100" alt="Foto 2" />
        </div>
        <div class="carousel-item">
          <img src="foto3.jpg" class="d-block w-100" alt="Foto 3" />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselSobre"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselSobre"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <div class="texto">
      Graduação em Engenharia de Software na Uniateneu e Técnico de Desenvolvimento de Sistemas na Escola Estadual de Educação
      Profissionalizante Mário Alencar. Minha jornada é alimentada pela busca
      constante de aprendizado e pela resolução de desafios complexos. Acredito
      firmemente que a tecnologia tem o poder de melhorar vidas e impulsionar
      negócios. Estou sempre buscando novas maneiras de inovar e criar soluções
      que causem um impacto positivo.
    </div>
  </div>
</div>
